body {
    background-color: white;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #bb16a3;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #500778;
    text-align: center;
}

/* Classes */
.navbar {
    background-color: #500778;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.nav-link {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* .active a {
    color: #FFD1DC;
} */

.main-contianer {
    width: 100%;
    height: auto;
}

.text-container {
    background-image: url('img/old-people.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.text-container h1 {
    color: white;
}

.contact-container {
    background-image: none;
    display: flex;
    flex-direction: column;
}

.contact {
    background-color: #bb16a3;
    display: flex;
    flex-direction: row;
}

.sm-txt {
    color: white;
    font-size: 20px;
}

.txt {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt p {
    color: black;
    font-size: 20px;
    text-align: center;
}

.special-title {
    color: white;
}

/* Buttons */
.button {
    background-color: #FFD1DC;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: black;
}

.button:hover {
    background-color: transparent;
    border: solid 1px #FFD1DC;
    color: white;
}

.btn {
    background-color: white;
    border: solid 1px #FFD1DC;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: black;
}

.btn:hover {
    background-color: #FFD1DC;
}

/* Images */
.img-container {
    width: 100%;
    height: auto;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* Services */
.services-container {
    background-color: #FFD1DC;
    padding: 2rem;
}

.box-container {
    display: flex;
    flex-direction: row;
}

.box {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 430px) {
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .box-container {
        display: flex;
        flex-direction: column;
    }
}

