html {  
    scroll-behavior: smooth;  
}
body {
    background-color:white;
    padding: 0;
    margin: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    text-align: center;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #bb16a3;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #500778;
    text-align: center;
}

hr {
    color: white !important;
    width: 100%;
}

.hr {
    color: #bb16a3;
}

/* Classes */
.navbar {
    background-color: #500778;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.nav-link {
    font-size: 20px;
    font-family: 'Roboto', sans;
}

/* .active a {
    color: #FFD1DC;
} */

.main-contianer {
    width: 100%;
    height: auto;
}

.text-container h1 {
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text-container {
    padding: 2rem;
    height: 700px;
    background-image: none;

}

.sm-txt {
    color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.https {
    width: 100%;
    height: auto;
}

.https-text {
    color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.tts {
    background-color: white;
    border: solid 1px #bb16a3;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: black;
    display: flex;
    justify-content: start;
    align-items: start;
}

.tts:hover {
    background-color: #bb16a3;
    color: white;
}

.emails {
    width: 100%;
    height: auto;
}

.emails-text {
    color: black;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-header {
    margin: 0;
    background-image: url('img/computer.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 390px) {
    .sign-in {
        font-size: 14px;
    }

    .navbar {
        padding: 0.5rem;
    }

    .nav-link {
        font-size: 14px;
    }
}